* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: #19181A;
    overflow-x: hidden;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-bar ul {
    display: flex;
    padding-top: 1em;
}
a {
    text-decoration: none;
}
.header {
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
.nav-bar {
    background-color: #19181A;
    padding-bottom: 0em;
    align-items: center;
    height: 80px;
    z-index: 1;
    overflow-y: hidden;
}
.nav-bar a {
    color: white;
    margin-top: 1em;
    display: block;
    padding: 0 1em;
}
.nav-bar a:hover {
    color: rgb(156, 156, 156);
}
.company-name-nav-bar {
    
    display: flex;
    margin-top: 20px;

}
.nav-bar-name-text {
    color: white;
    padding-top: 1em;
}
.nav-bar-name-text:hover {
    color: rgb(156, 156, 156);
}
.hero {
    height: 100%;
    display: flex;
    text-align: center;
    margin-top: -5em;
    padding-top: 3em;
    z-index: -1;

}

.logo {
    height: 30px;
    width: 30px;
}
.main-hero-text {
    color: white;
    margin: auto;
    margin-top: 10vh;
    font-weight: 600;
    font-family: 'Inconsolata', monospace;
    font-size: 3em;
    max-width: 500px;
}
.main-hero-text-desc {
    color: white;
    margin-top: 20px;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 2em;
    font-size: 1.12em;
    opacity: .7;
}
.right-col-hero-section {

}
.button-container {
    display: flex;
    margin-left: 60px;
    
}
.coin-market-cap-button {
    padding: 1.5em;
    padding-left: 5em;
    padding-right: 5em;
    border-radius: 8px;
    
    border: none;
    background-color: #2fa750;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 7px 6px 10px black;
   
}
.disc-button-container {
    padding-top: 1.55em;
    text-align: center;
    margin-right: 1.5em;

}
.discord-button {
    margin-top: 3em;
    margin-left: 2em;
    padding: 1.4em;
    padding-left: 4em;
    padding-right: 4em;
    border-radius: 8px;
    border: 2px solid #2fa750;
    
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 7px 6px 10px black;
    
}
.coin-market-cap-button:hover {
    background-color: #00ff48;
}
.discord-button:hover {
    background-color: #2fa750;
}
.button-container {
    margin-top: 3em;
}
.line {
    position: absolute;
    margin-top: 8em;
    width: 80vw;
    height: 1px;
    transform: translate(6vw,120px);
    background-color: rgb(255, 255, 255,.3);
    margin: auto;
}
.left-nav {
    width: 50px;
    height: 225px;
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
    border-radius: 2em;
    display: none;
    top: 38vh;
    margin-left: 10px;
}
.side-nav {

}
.discord-icon {
    margin-left: -11px;
    margin-top: 20px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    padding: 0 1em;
}
.twitter-icon {
    margin-left: -11px;
    margin-top: 20px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    padding: 0 1em;
}
.reddit-icon {
    margin-left: -11px;
    margin-top: 20px;
    height: 40px;
    width: 40px;
    cursor: pointer;
    padding: 0 1em;
}
.logo-line-hero {
    display: block;
    text-align: center;
    display: none;
}
.coin-market-cap-logo {
    transform: translateY(30px);
    height: 300px;
    width: 400px;
}
.coin-gecko-logo {
    height: 250px;
    width: 350px;
    transform: translateY(-140px);
}

.hamburger-icon {
    height: 40px;
    width: 40px;
    fill: white;
    display: none;
}
.hamburger-button {
    background-color: transparent;
    border: none;
    display: none;
    cursor: pointer;
    padding-top: .5em;
    padding-right: .6em;

}
.light-dark-mode {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.moon-icon {
    width: 30px;
    height: 30px;
    display: none;
    transform: translateY(-5px);
    cursor: pointer;
}
.sun-icon {
    width: 30px;
    height: 30px;
    display: block;
    transform: translateY(-5px);
    cursor: pointer;
}
.about-us {
    width: 100%;
    background-color: #272727;
    background-image: linear-gradient(#19181A , #272727 18%);
    text-align: center;
    justify-content: center;
    padding-top: 5em;
}
.about-us-text {
    padding: 2em;
    color: white;
    transform: translateY(100px);
    font-family: 'Open Sans';
    font-weight: 300;
    opacity: .1;
    max-width: 1000px;
    justify-content: center;
    margin: auto;
    font-size: 1em;
    display:none;
}
.about-us-title {
    color: white;
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 2em;
    font-size: 3em;
    font-weight: 600;
    font-family: 'Inconsolata', monospace;
    z-index: -1;
}

.card-container-mission {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    
}
.mission-card {
    background-color: #19181A;
    border-radius: 1em;
    padding: 1em;
    margin-bottom: 2em;
    margin-right: 10%;
    
    margin-top: 1em;
    color: white;
    height: 350px;
    max-width: 85%;
    min-width: 85%;
    opacity: .1;
    box-shadow: 8px 5px 10px black;
    border: .1px solid #19181A;
}
.mission-header {
    padding-bottom: 1em;
    font-size: 2em;
}
.mission-desc {
    font-size: 1.2em;
}
.mission-card1 {
    transform: translateY(100px);
}
.mission-card2 {
    transform: translateY(100px);
}
.mission-card:hover {
    border: .1px solid #2fa750;
}
.mission-card3 {
    transform: translateY(100px);
}
.learn-more-airdropP a {
    color: white;
    text-decoration: none;
}
.learn-more-button {
    margin: auto;
    margin-top: 3em;
    border-radius: 4px;
    border: 2px solid #2fa750;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.learn-more-button:hover {
    background-color: #2fa750;
}

.about-section {
    margin: auto;
    margin-bottom: 3em;

}
.community-vision-section {
    color: white;
    margin-bottom: 3em;
    max-width: 70vw;
    text-align: left;
    transform: translateY(100px);
}
.community-vision-header {
    padding-bottom: .7em;
    font-weight: 600;
    font-family: 'Inconsolata', monospace;
    font-size: 3em;
}
.community-vision-desc {
    font-size: 1.12em;
    opacity: .7;
}

.airdrop-vision-section {
    color: white;
    margin-bottom: 3em;
    max-width: 70vw;
    text-align: left;
    transform: translateY(100px);
}
.airdrop-vision-header {
    padding-bottom: .7em;
    font-weight: 600;
    font-family: 'Inconsolata', monospace;
    font-size: 3em;
}
.airdrop-vision-desc {
    font-size: 1.12em;
    opacity: .7;
}

.application-vision-section {
    color: white;
    margin-bottom: 3em;
    max-width: 70vw;
    text-align: left;
    transform: translateY(100px);
}
.application-vision-header {
    padding-bottom: .7em;
    font-weight: 600;
    font-family: 'Inconsolata', monospace;
    font-size: 3em;
}
.application-vision-desc {
    font-size: 1.12em;
    opacity: .7;
}

.moveUp {
    animation-name: moveUp;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.moveUp3 {
    animation-name: moveUp3;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.moveUp4 {
    animation-name: moveUp4;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.moveUp2 {
    animation-name: moveUp2;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes moveUp {
    from {
        transform: translateY(100px);
        opacity: .1;
    }
    to{
        transform: translateY(-50px);
        opacity: .9;
    }
}
@keyframes moveUp3 {
    from {
        transform: translateY(200px);
        opacity: .1;
    }
    to{
        transform: translateY(-50px);
        opacity: .9;
    }
}
@keyframes moveUp4 {
    from {
        transform: translateY(300px);
        opacity: .1;
    }
    to{
        transform: translateY(-50px);
        opacity: .9;
    }
}
@keyframes moveUp2 {
    from {
        transform: translateY(100px);
        opacity: .1;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}
.white-paper-container {
    padding-bottom: 7em;
    justify-content: center;
    text-align: center;
}
.white-paper-title {
    color: white;
    font-family: 'Inconsolata', monospace;
    font-size: 2em;
    padding-top: 2em;
    padding-bottom: 1.2em;
}
.white-paper-button {
    padding: 1em;
    padding-left: 5em;
    padding-right: 5em;
    border-radius: 8px;
    border: none;
    background-color: #b679f2;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 8px 5px 10px black;
}
.white-paper-button:hover {
    background-color: #a24cf8;
}
.white-paper-line {
    transform: translateX(8vw);
    margin: auto;
}
.white-paper-updated-text {
    color: white;
    transform: translateY(242px);
    font-weight: 300;
}


.road-map {
    color: white;
    padding-bottom: 10em;
    padding: 2em;
    padding-top: 6em;
    background-image: linear-gradient(#272727 , #0d0d0d 18%);
}
.road-map-container {
    margin-left: 4em;
    padding-bottom: 10em;
}
.road-map-container h2 {
    text-align: center;
}
.road-map-card {
    text-align: center;
    margin: auto;
    border-radius: 1em;
    background-color: #333333;
    margin-bottom: 3em;
    padding-right: 2em;
    max-width: 500px;
    /*box-shadow: 8px 4px 8px #4093b7;*/
    transform: translateY(100px);
    opacity: .1;
    border: 1.5px solid black;
}
.road-map-card-header {
    color: black;
    
}
.road-map-header {
}
.road-map-card-header-container {
    background-color: white;
    padding: 1em;
    width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}
.road-map-header-container {
    text-align: center;
    padding-bottom: 5em;
    font-family: 'Inconsolata', monospace;
}
.road-map-header-line {
    transform: translate(6vw,20px);
    margin: 0;
}
.road-map-list {
    padding-top: 1em;
    padding-left: 2em;
    padding-bottom: 2em;
}
ul.road-map-list{
    list-style-type: circle;
}
.road-map-list p {
    padding-bottom: .5em;
}
.road-map-card-text {
    text-align: left;
}
.circle {
    height: 30px;
    width: 30px;
    background-color: white;
    position: absolute;
    transform: translate(-60px,20px);
    border-radius: 100%;
}
.vert-line {
    width: 2px;
    background-color: white;
    height: 0px;
    margin-left: 14px;
}
.load-line {
    animation: load-line;
    animation-duration: 1.2s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes load-line {
    from {
        height: 0px;
    }
    to{
        height: 295px;
    }
}

.airdrop-req {
    color: white;
    background-color: #19181A;
    padding-bottom: 5em;
}
.airdrop-req-header {
    text-align: center;
    padding: 1.5em;
}
.airdrop-info-container {
    max-width: 60vw;
    margin: auto;

    border-radius: 1.2em;
    background-color: #1e1d1f;
    box-shadow: 8px 5px 10px black;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.rollout-info {
    max-width: 80vw;
    margin: auto;
}
.airdrop-text {
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.events-list {
    display: flex;
    justify-content: space-between;
    max-width: 95%;
    margin: auto;
    margin-top: 3em;
}

.events-item {
    font-weight: bold;
    padding-bottom: 1em;
}

.event-card {
    color: white;
    background-color: #333333;
    border-radius: 1em;
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    max-width: 30%;;
    margin: 1em;
    border: 1.5px solid black;
    opacity: .9;
    box-shadow: 8px 5px 10px black;
}

.event-desc {

}

.follow-twitter-section {
    padding-left: 4em;
    padding-top: 4em;
    padding-right: 1em;
}
.follow-twitter-req {
    padding-bottom: .5em;
    font-size: 1.5em;
}
.follow-twitter-req a{
    text-decoration: none;
    color:#b679f2;
}
.follow-discord-req a{
    text-decoration: none;
    color:#b679f2;
}
.follow-twitter-req a:hover{
    color:#a24cf8;
}
.follow-discord-req a:hover{
    color:#a24cf8;
}
.follow-twitter-req-desc {
    font-size: 1.2em;
}
.join-discord-section {
    padding-left: 4em;
    padding-top: 2em;
    padding-right: 1em;
}
.follow-discord-req {
    padding-bottom: .5em;
    font-size: 1.5em;
    
}
.follow-discord-req-desc {
    font-size: 1.2em;
    padding-bottom: .4em;
}
.follow-discord-req-desc2 {
    font-size: 1.2em;
}


.top-footer {
    padding-top: 3em;
    padding-left: 1.5em;
    padding-bottom: 3em;
    margin: auto;
    background-color: #19181A;
}
.join-text-footer {
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: 3.5em;
    font-family: 'Inconsolata', monospace;
}
.card {
    width: 80vw;
    height: 70px;
    border-radius: .9em;;
    background-color: white;
    color: #19181A;
    margin-bottom: 1em;
    box-shadow: 8px 5px 7px #b679f2;
}
.card:hover {
    background-color: rgb(182, 182, 182);
}
.card-text {
    transform: translate(30px,30px);
    
}
.social-link {
    margin: 0;
    padding: 0;
}
.bottom-footer {
    color: white;
    background-color: #19181A;;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2em;

}
.bottom-list-header {
    font-weight: bold;
    color: white;
}
.bottom-list-link {
    cursor: pointer;
    padding-bottom: .5em;
}
.a-links-bottom{
    text-decoration: none;
    color: white;
}
.a-links-bottom:hover{
    color: rgb(160, 160, 160);
}
.list-links-bottom {
    padding-top: 1em;
}
.bottom-logo {
    display: none;
    padding-right: 100px;
}
.logo-pic-bottom {
    height: 150px;
    width: 200px;
}
.spinning-circle-gif {
    position: absolute;
    top: 2.3em;
    transform: translate(420px,20px);
    height: 600px;
    
}
.contract-container {
    padding-top: 2em;
    padding-bottom: 4em;
    justify-content: center;
    align-items: center;

}
.contract-text{
    padding-right: 1em;
    color: white;
    padding-bottom: 2em;
}
.contract-button{
    background-color: #b679f2;
    padding: 1em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    border-radius: 2em;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 8px 5px 10px black;
    font-size: 13px;
}
.contract-button:hover {
    background-color: #a24cf8;
}
.copy-button {
    background-color: #a24cf8;
    padding-right: 1em;
    padding-left: 1em;
    padding-top: 1em;
    padding-bottom: .5em;
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
    color: white;
    font-weight: bold;
    cursor: pointer;

    font-size: 13px;
    position: absolute;
    transform: translate(-100px,-48px);
}

@media only screen and (max-width: 500px) {
    .req {
        transform: translateY(-30px);
    }
    .mission-card3 {
        height: 410px;
    }
    
}

@media only screen and (max-width: 499px) {
    .airdrop-info-container {
        padding-bottom: 1.6em;
    }

}
@media only screen and (max-width: 400px) {
    .airdrop-info-container {
        height: 415px;
    }
}
@media only screen and (max-width: 820px) {
    .nav-bar ul {
        display: none;
        padding: 0;
    }
    .nav-bar li {
        padding-top: 20px;
        
    }
    .nav-bar {
        padding-bottom: 1.85em;
    }
    .hamburger-icon {
        display: block;
        padding-top: 1em;
        padding-left: 1em;
        margin-right: 1em;
    }
    .hamburger-button {
        display: block;

    }
    .nav-menu-hamburger {
        background-color: none;
        position: absolute;
        right: 0;
        height: 750px;
        z-index: 100;
    }
    .hero {
        margin-top: -4em;
    }
  
}
@media only screen and (max-width: 875px) {
    .button-container {
        display: block;
    }
    .button-container {
        margin-left: 0px;
    }
}
@media only screen and (max-width: 1100px) {

    .airdrop-info-container {
        max-width: 80vw;
    }
    .follow-twitter-section {
        padding-left: 3em;
        padding-top: 4em;
        padding-right: .5em;
    }

    .join-discord-section {
        padding-left: 3em;
        padding-top: 2em;
        padding-right: .5em;
    }
    .follow-twitter-req {
        padding-bottom: .3em;
        font-size: 1.2em;
    }
    .follow-twitter-req-desc {
        font-size: 1em;
    }
    .follow-discord-req {
        padding-bottom: .3em;
        font-size: 1.2em;
    }
    .follow-discord-req-desc {
        font-size: 1em;
    }
    .follow-discord-req-desc2 {
        font-size: 1em;
    }
}
@media only screen and (max-width: 1375px) and (min-width:  725px) {
    .mission-card {
        height: 600px;
    }
}
@media only screen and (max-width: 875px) {
    .about-section {
        text-align: center;
        margin: auto;
        margin-bottom: 3em;
    }
    .disc-button-container {
        padding-top: 5em;
    }
}
@media only screen and (min-width: 650px){
    .hero {
        display: grid;
        grid-template-columns: 1fr .2fr;
        grid-template-areas: "left-col-hero-section""right-col-hero-section";
    }
    .main-hero-text {
        text-align: left;
        margin-left: 65px;
    }
    .main-hero-text-desc {
        text-align: left;
        margin-left: 65px;

    }
    .left-col-hero-section {
        margin-left: 10px;
    }
    .coin-market-cap-button {
        
    }
    .nav-menu-hamburger {
        padding-right: 0em;
    }
    .contract-button {
        font-size: 15px;
    }
    .airdrop-text {
        font-size: 1.2em;
    }
    
}
@media only screen and (max-width: 725px){
    .card-container-mission {
        display: block;
        margin-left: 5%;
    }

}

@media only screen and (min-width: 800px) {
    .our-mission {
        max-width: 85vw;
        margin: auto;
    }

}
@media only screen and (max-width: 800px) {
    .spinning-circle-gif {
        display: none;
    }

}
@media only screen and (min-width: 750px){
    .social-cards {
        display: flex;
        justify-content: center;
        
    }
    .card {
        max-width: 225px;
        margin-right: 1em;
    }
    .top-footer {
        text-align: center;
    }
    .card-text {
        transform: translate(-30px,30px);
    }
    .bottom-logo {
        display: block;
    }
    .bottom-footer {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .about-us-text{
        font-size: 1.3em;
    }
    .about-us-title {
        font-size: 2.85em;
    }
    .white-paper-title{
        font-size: 2.3em;
    }
    .white-paper-updated-text {
        transform: translateY(260px);
    }
    .logo-line-hero {
        display: flex;
        display: none;
        justify-content: center;
    }
    .coin-gecko-logo {

        transform: translateY(50px);
    }
    
}
@media only screen and (min-width: 850px){
    .hero {
        grid-template-columns: 1fr .3fr;
    }
    .main-hero-text {

    }
    .coin-market-cap-button {
        
    }
    .left-col-hero-section {
        margin-left: 15px;
    }
    .header {
        max-width: 90vw;
        text-align: center;
        margin: auto;
    }
    .hero-container {
        max-width: 80vw;
        margin: auto;
        padding: 0;
        margin: 0;
    }
    
    
    .top-footer {
        max-width: 80vw;
        margin: auto;
    }
    .bottom-footer {
        max-width: 80vw;
        margin: auto;

    }

}

@media only screen and (max-width: 850px){
    .events-list {
        display: block;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    .airdrop-info-container {
        max-width: 80vw;
        margin: auto;
    }
    
    .event-card {
        margin: auto;
        max-width: 80%;;
        margin-top: 1em;
    }
}
@media only screen and (min-width: 920px){
    .airdrop-text {
        font-size: 1.25em;
        padding-top: 1.5em;
    }
}

@media only screen and (min-width: 1000px){
    .hero {
        grid-template-columns: 1fr .4fr;
    }
    .header {
        max-width: 80vw;

    }
    .main-hero-text {
        max-width: 800px;
        font-size: 3.2em;
        margin-left: 100px;
    }
    .main-hero-text-desc {
        font-size: 1em;
        max-width: 600px;
        margin-left: 100px;
    }
    .button-container {
        margin-left: 100px;
    }
    .coin-market-cap-button {
       
    }
    .left-col-hero-section {
        margin-left: 40px;
    }
    .left-nav {
        display: block;
    }
    .card {
        max-width: 300px;
    }
    .card-text {
        transform: translate(-60px,30px);
    }
    .bottom-footer {
        grid-template-columns: 1fr 1fr 1fr ;
        justify-content: center;
        text-align: center;
    }
    .company-name-nav-bar {
        margin-left: 0px;
    }

}

@media only screen and (min-width: 1200px){
    .hero {
        grid-template-columns: 1fr .45fr;
    }
    .main-hero-text {


    }
    .main-hero-text-desc {
        font-size: 1.25em;
    }
    .coin-market-cap-button {
        
    }
    .left-col-hero-section {
        margin-left: 70px;
    }
    .about-us-text{
        font-size: 1.5em;
    }
    .about-us-title {
        font-size: 3em;
    }
    .white-paper-title {
        font-size: 2.4em;
    }
    .white-paper-updated-text {
        transform: translateY(280px);
    }
    .airdrop-text {
        font-size: 1.25em;
        padding-top: 2.5em;
        padding-right: 1.7em;
        padding-left: 1.7em;
    }
    .airdrop-info-container {
        max-width: 80vw;
        margin-bottom: 4em;
    }
    .event-card {
        font-size: 1.25em;
        max-width: 35%;
        margin: 1em;
    }
}
@media only screen and (min-width: 1400px){
    .hero {
        grid-template-columns: 1fr .45fr;
    }
    .main-hero-text {
        max-width: 650px;
        font-size: 3.8em;
        margin-left: 120px;
    }
    .button-container {
        margin-left: 120px;
    }
    .coin-market-cap-button {
       
    }
    .left-col-hero-section {
        margin-left: 70px;
    }
    .main-hero-text-desc {
        font-size: 1.4em;
        margin-left: 120px;
    }
}

@media only screen and (min-width: 1500px){
    .airdrop-text {
        font-size: 1.4em;
        padding-top: 2.5em;
        padding-right: 1.7em;
        padding-left: 1.7em;
    }
}

    @media only screen and (min-width: 1600px){
        .hero {
            grid-template-columns: 1fr .45fr;
        }
        .main-hero-text {
            max-width: 1000px;
            font-size: 4em;
            margin-left: 130px;
        }
        .main-hero-text-desc {
            margin-left: 130px;
        }
        .coin-market-cap-button {
            
        }
        .left-col-hero-section {
            margin-left: 110px;
        }
        .right-col-hero-section {
            margin-left: 110px;
        }
        .about-us-text{
            font-size: 1.7em;
        }
        .about-us-title {
            font-size: 3.5em;
        }
        .white-paper-title {
            font-size: 2.8em;
        }
        .white-paper-updated-text {
            transform: translateY(300px);
        }
        .button-container {
            margin-left: 130px;
        }
    }
@media only screen and (min-width: 1000px){
    
}
